<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>{% block page_title %} {% endblock %} | ระบบสารบรรณอิเล็กทรอนิกส์ กร.ทบ.</title>
    {% load static %}
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link
            rel="stylesheet"
            href="{% static 'vendors/bootstrap/css/bootstrap.min.css' %}"
    />
    <link
            rel="stylesheet"
            href="{% static 'vendors/fontawesome/css/all.css' %}"
    />
    <link rel="stylesheet" href="{% static 'assets/css/lineicons.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}"/>
    {% block css %} {% endblock %}
</head>

<body>
{% include 'doc_record/navbar.html' %}

<!-- ======== main-wrapper start =========== -->
<main class="main-wrapper">
    {% include 'doc_record/header.html' %}
    <!-- ========== signin-section start ========== -->
    <section>{% block content %} {% endblock %}</section>
    <!-- ========== signin-section end ========== -->
    {% include 'doc_record/footer.html' %}
</main>

<script src="{% static 'vendors/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
{% block js %} {% endblock %}
</body>
</html>
