{% extends 'doc_record/base.html' %}
{% load static %}
{% block css %}
    <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.datatables.net/v/bs5/dt-1.11.5/datatables.min.css"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/thdatepicker/css/datepicker.css' %}"/>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/css/selectize.bootstrap4.min.css"/>
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container-fluid">
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h2>{% block page_title %} {{ title }} {% endblock %}</h2>
                </div>
                <!-- end col -->
                <div class="col-md-6">
                    <div class="breadcrumb-wrapper mb-30">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#0">ทะเบียนหนังสือคำสั่ง</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="{{ parent_nav_path }}">{{ parent_nav_title }}</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    {{ title }}
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- ========== title-wrapper end ========== -->

        <div class="card-style mb-30">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row form-row">
                    <div class="form-group col-md-4">
                        {{ doc_order_form.order_no | as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4">
                        {{ doc_form.doc_no | as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4">
                        {{ doc_form.doc_date | as_crispy_field }}
                    </div>
                </div>
                <div class="row form-row">
                    {{ doc_form.title | as_crispy_field }}
                </div>
                <div class="row form-row">
                    {{ doc_order_form.action | as_crispy_field }}
                </div>
                <div class="row form-row">
                    {{ doc_order_form.note | as_crispy_field }}
                </div>

                {% if doc_files %}
                    <div class="form-group">
                        <label class="form-label">ไฟล์เอกสารเดิม</label>
                        <ul class="list-inline">
                            {% for doc_file in doc_files %}
                                <li class="list-inline-item">
                                    <a href="{{ MEDIA_URL }}{{ doc_file.file.url }}">{{ doc_file.filename }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <div class="row form-row">
                    {{ doc_form.file | as_crispy_field }}
                </div>
                <div class="mb-2">
                    <input type="submit"
                           name="submit"
                           value="บันทึก"
                           class="btn btn-primary"
                           id="submit-id-submit"
                    />
                </div>
            </form>

        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{% static 'vendors/thdatepicker/js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'vendors/thdatepicker/js/bootstrap-datepicker-thai.js' %}"></script>
    <script src="{% static 'vendors/thdatepicker/js/locales/bootstrap-datepicker.th.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/js/standalone/selectize.min.js"></script>
    <script>

        $('.datepicker').datepicker({});

        let option = {
            delimiter: ",",
            persist: false,
            create: function (input) {
                return {
                    value: input,
                    text: input,
                };
            },
        }
    </script>
{% endblock %}
