{% extends 'doc_record/base.html' %}
{% load static %}
{% block css %}
    <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.datatables.net/v/bs5/dt-1.11.5/datatables.min.css"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/thdatepicker/css/datepicker.css' %}"/>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/css/selectize.bootstrap4.min.css"/>
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container-fluid">
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h2>{% block page_title %} {{ title }} {% endblock %}</h2>
                </div>
                <!-- end col -->
                <div class="col-md-6">
                    <div class="breadcrumb-wrapper mb-30">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#0">ทะเบียนหนังสือรับส่ง</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="{{ parent_nav_path }}">{{ parent_nav_title }}</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    {{ title }}
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- ========== title-wrapper end ========== -->

        <div class="card-style mb-30">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row form-row">
                    <div class="form-group col-md-4">
                        {{ doc_receive_form.receive_no | as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4">
                        {{ doc_form.doc_no | as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4">
                        {{ doc_form.doc_date | as_crispy_field }}
                    </div>
                </div>
                <div class="row form-row">
                    <div class="form-group col-md-3">
                        {{ doc_form.urgent | as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3">
                        {{ doc_form.credential | as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3">
                        {{ doc_form.doc_from | as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3">
                        {{ doc_form.doc_to | as_crispy_field }}
                    </div>
                </div>
                <div class="row form-row">
                    {{ doc_form.title | as_crispy_field }}
                </div>
                <div class="row form-row">
                    <div class="form-group col-md-10">
                        {{ doc_receive_form.send_to | as_crispy_field }}
                    </div>
                    <div class="form-group col-md-2 ">
                        <label class="form-label">จำแนกเอกสาร</label>
                        <button class="btn btn-primary form-control" onclick="classify_doc()" type="button">
                            จำแนกเอกสาร
                        </button>
                    </div>
                </div>
                <div class="row form-row">
                    {{ doc_receive_form.action | as_crispy_field }}
                </div>
                <div class="row form-row">
                    {{ doc_receive_form.note | as_crispy_field }}
                </div>

                {% if doc_files %}
                    <div class="form-group">
                        <label class="form-label">ไฟล์เอกสารเดิม</label>
                        <ul class="list-inline">
                            {% for doc_file in doc_files %}
                                <li class="list-inline-item">
                                    <a href="{{ MEDIA_URL }}{{ doc_file.file.url }}">{{ doc_file.filename }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <div class="row form-row">
                    {{ doc_form.file | as_crispy_field }}
                </div>
                <div class="mb-2">
                    <input type="submit"
                           name="submit"
                           value="บันทึก"
                           class="btn btn-primary"
                           id="submit-id-submit"
                    />
                </div>
            </form>

        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{% static 'vendor/thdatepicker/js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'vendor/thdatepicker/js/bootstrap-datepicker-thai.js' %}"></script>
    <script src="{% static 'vendor/thdatepicker/js/locales/bootstrap-datepicker.th.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/js/standalone/selectize.min.js"></script>
    <script src="{% static 'vendor/selectize/selectize.option.js' %}"></script>
    <script>
            function classify_doc() {
            let doc = {
                doc_title: $("#id_title").val(),
                doc_unit: $("#id_doc_from").val(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }


            function getCodeByUnitName(unit_list) {
                let unit = [
                    {id: 2, name: 'กธก.(กพ.)'},
                    {id: 2, name: 'กธก.(สก.)'},
                    {id: 2, name: 'กธก.(สบ.)'},
                    {id: 2, name: 'กธก.(บร.)'},
                    {id: 2, name: 'กธก.(ธน.)'},
                    {id: 3, name: 'กนผ.'},
                    {id: 4, name: 'กคง.'},
                    {id: 5, name: 'กสท.'},
                    {id: 6, name: 'รร.กร.กร.ทบ.'},
                    {id: 7, name: 'สกร.'},
                    {id: 8, name: 'กกร.'},
                    {id: 9, name: 'กพน.'},
                    {id: 10, name: 'กบภ.'},
                    {id: 11, name: 'สจว.'},
                    {id: 12, name: 'กปจว.'},
                    {id: 13, name: 'กปส.'},
                    {id: 14, name: 'กกช.'},
                    {id: 15, name: 'ผกง.'},
                    {id: 16, name: 'งป.'},
                    {id: 17, name: 'ฝกร.'},
                    {id: 18, name: 'สทบ.'},
                ]

                let unit_code = []
                console.log(unit_list);
                for (const unit_name of unit_list) {
                    console.log(unit_name);
                    unit_code.push(unit.filter(function (unit) {
                        return unit.name === unit_name
                    })[0].id)
                }
                return unit_code;
            }

            $.ajax({
                type: 'POST',
                url: '/classify',
                data: doc,
                dataType: "json",
                success: function (response) {
                    let instance = response["received_units"];
                    selectize.setValue(getCodeByUnitName(instance))
                },
                error: function (response) {
                    alert(response["responseJSON"]["error"]);
                }
            })
        }
    </script>
{% endblock %}
