{% extends 'doc_record/base.html' %}
{% load static %}
{% load sass_tags %}
{% block css %}

    <link rel="stylesheet" type="text/css" href="{% sass_src 'assets/css/timeline.scss' %}"/>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/css/selectize.bootstrap4.min.css"/>


{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container-fluid">
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h2>{% block page_title %} สถานะหนังสือ {% endblock %}</h2>
                </div>
                <!-- end col -->
                <div class="col-md-6">
                    <div class="breadcrumb-wrapper mb-30">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#0">ติดตามหนังสือ</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    สถานะหนังสือ
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- ========== title-wrapper end ========== -->
        <div class="card-style mb-30">
            <div class="row form-row">
                <div class="form-group col-sm-1">
                    <p class="fw-bold">ที่</p>
                </div>
                <div class="form-group col-sm-5">
                    {{ doc_trace.doc.doc_no }}
                </div>
                <div class="form-group col-sm-1">
                    <p class="fw-bold">ลงวันที่</p>
                </div>
                <div class="form-group col-sm-5">
                    {{ doc_trace.doc.doc_date_th }}
                </div>
            </div>
            <div class="row form-row">
                <div class="form-group col-lg-1">
                    <p class="fw-bold">จาก</p>
                </div>
                <div class="form-group col-lg-5">
                    {{ doc_trace.doc.doc_from }}
                </div>
                <div class="form-group col-lg-1">
                    <p class="fw-bold">ถึง</p>
                </div>
                <div class="form-group col-lg-5">
                    {{ doc_trace.doc.doc_to }}
                </div>
            </div>

            <div class="row form-row">
                <div class="form-group col-lg-1">
                    <p class="fw-bold">เรื่อง</p>
                </div>
                <div class="form-group col-lg-11">
                    {{ doc_trace.doc.title }}
                </div>
            </div>

            <form action="" method="post">
                {% csrf_token %}

                <div class="row form-row">
                    {{ doc_trace_form.note | as_crispy_field }}
                </div>
                {% if doc_trace.doc_status.id == 3 %}
                    <div class="row form-row">
                        {{ doc_receive_form.send_to | as_crispy_field }}
                    </div>
                    <div class="mb-2">
                        <input type="submit"
                               name="resend"
                               value="แก้ไขหน่วยรับ"
                               class="btn btn-primary"
                               id="submit-id-accept"
                        />
                    </div>
                {% else %}
                    <div class="mb-2">
                    <input type="submit"
                           name="receive"
                           value="รับเอกสาร"
                           class="btn btn-primary"
                           id="submit-id-accept"
                    />
                    <input type="submit"
                           name="reject"
                           value="ตีกลับ"
                           class="btn btn-danger"
                           id="submit-id-reject"
                    />
                {% endif %}

                </div>

            </form>

        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/js/standalone/selectize.min.js"></script>
    <script>
        let option = {
            delimiter: ",",
            persist: false,
            create: function (input) {
                return {
                    value: input,
                    text: input,
                };
            },
        }
        let select = $(".selectmultiple").selectize(option);
        let selectize = select[0].selectize;
    </script>
{% endblock %}
