<!-- ========== header start ========== -->
{% load static %}
<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-6">
                <div class="header-left d-flex align-items-center">
                    <div class="menu-toggle-btn mr-20">
                        <button
                                id="menu-toggle"
                                class="main-btn primary-btn btn-hover"
                        >
                            <i class="lni lni-chevron-left me-2"></i> เมนู
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-6">
                <div class="header-right">
                    <!-- message start -->
                    <div class="header-message-box ml-15 d-none d-md-flex">
                        <button
                                class="dropdown-toggle"
                                type="button"
                                id="message"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                        >
                            <i class="lni lni-envelope"></i>
                            {% if pending_docs %}
                                <span>{{ pending_docs|length }}</span>
                            {% endif %}
                        </button>
                        <ul
                                class="dropdown-menu dropdown-menu-end"
                                aria-labelledby="message"
                        >
                            {% if pending_docs %}
                                {% for doc in pending_docs %}
                                    <li>
                                        <a href="/trace/pending/{{ doc.id }}">
                                            <div class="image">
                                                {% if doc.doc_status.id == 3 %}
                                                    <img src="{% static 'assets/images/doc_status/cancel.png' %}"
                                                         alt=""/>
                                                {% else %}
                                                    <img src="{% static 'assets/images/doc_status/send.png' %}"
                                                         alt=""/>
                                                {% endif %}
                                            </div>
                                            <div class="content">
                                                <h6>มีหนังสือ{{ doc.doc_status.name }}มาจาก {{ doc.action_from }}</h6>
                                                <p>เรื่อง {{ doc.doc.title }}</p>
                                                <span>{{ doc.time_th }}</span>
                                            </div>
                                        </a>
                                    </li>
                                {% endfor %}
                            {% else %}
                                <li>
                                    <a href="">
                                        <div class="content">
                                            <p>ยังไม่มีเรื่องเข้ามา</p>
                                        </div>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    <!-- message end -->
                    <!-- profile start -->
                    <div class="profile-box ml-15">
                        <button
                                class="dropdown-toggle bg-transparent border-0"
                                type="button"
                                id="profile"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                        >
                            <div class="profile-info">
                                <div class="info">
                                    {% if user.is_authenticated %}
                                        <h6>{{ user.first_name }}</h6>
                                    {% endif %}
                                    <div class="image">
                                        <img
                                                src="{% static 'assets/images/logo/doca-logo-master-mini.png' %}"
                                                alt="{{ user.first_name }}"
                                        />
                                        <span class="status"></span>
                                    </div>
                                </div>
                            </div>
                            <i class="lni lni-chevron-down"></i>
                        </button>
                        <ul
                                class="dropdown-menu dropdown-menu-end"
                                aria-labelledby="profile"
                        >
                            <li>
                                <a href="/accounts/edit">
                                    <i class="lni lni-user"></i> ตั้งค่าผู้ใช้
                                </a>
                            </li>
                            <li>
                                <form id="logout" method="post" action="/accounts/logout/">
                                    {% csrf_token %}
                                    <a href="#" onclick="document.getElementById('logout').submit();"><i
                                            class="lni lni-exit"></i>
                                        ออกจากระบบ</a>
                                </form>
                            </li>
                        </ul>
                    </div>
                    <!-- profile end -->
                </div>
            </div>
        </div>
    </div>
</header>
<!-- ========== header end ========== -->