<!-- ========== header start ========== -->
{% load static %}
<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-6">
                <div class="header-left d-flex align-items-center">
                    <div class="menu-toggle-btn mr-20">
                        <button
                                id="menu-toggle"
                                class="main-btn primary-btn btn-hover"
                        >
                            <i class="lni lni-chevron-left me-2"></i> เมนู
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-6">
                <div class="header-right">
                    <!-- message start -->
                    <div class="header-message-box ml-15 d-none d-md-flex">
                        <button
                                class="dropdown-toggle"
                                type="button"
                                id="message"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                        >
                            <i class="lni lni-envelope"></i>
                            {% if pending_docs %}
                                <span>{{ pending_docs|length }}</span>
                            {% endif %}
                        </button>
                        <ul
                                class="dropdown-menu dropdown-menu-end"
                                aria-labelledby="message"
                        >
                            {% if pending_docs %}
                                {% for doc in pending_docs %}
                                    <li>
                                        <a href="/trace/pending/{{ doc.id }}">
                                            <div class="image">
                                                <img src="assets/images/lead/lead-5.png" alt=""/>
                                            </div>
                                            <div class="content">
                                                <h6>{{ doc.action_from }}</h6>
                                                <p>{{ doc.action_from }} {{ doc.doc_status.name }}ไปยัง {{ doc.action_to }}</p>
                                                <span>{{ doc.time_th }}</span>
                                            </div>
                                        </a>
                                    </li>
                                {% endfor %}
                            {% else %}
                                <li>
                                    <a href="">
                                        <div class="content">
                                            <p>ยังไม่มีเรื่องเข้ามา</p>
                                        </div>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    <!-- message end -->
                    <!-- profile start -->
                    <div class="profile-box ml-15">
                        <button
                                class="dropdown-toggle bg-transparent border-0"
                                type="button"
                                id="profile"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                        >
                            <div class="profile-info">
                                <div class="info">
                                    {% if user.is_authenticated %}
                                        <h6>{{ user.first_name }}</h6>
                                    {% endif %}
                                    <div class="image">
                                        <img
                                                src="{% static 'assets/images/logo/doca-logo-master-mini.png' %}"
                                                alt="{{ user.first_name }}"
                                        />
                                        <span class="status"></span>
                                    </div>
                                </div>
                            </div>
                            <i class="lni lni-chevron-down"></i>
                        </button>
                        <ul
                                class="dropdown-menu dropdown-menu-end"
                                aria-labelledby="profile"
                        >
                            <li>
                                <a href="#0">
                                    <i class="lni lni-user"></i> ข้อมูลผู้ใช้
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'logout' %}"> <i class="lni lni-exit"></i> ออกจากระบบ</a>
                            </li>
                        </ul>
                    </div>
                    <!-- profile end -->
                </div>
            </div>
        </div>
    </div>
</header>
<!-- ========== header end ========== -->