<!-- ======== sidebar-nav start =========== -->
{% load static %}
{% with url_name=request.resolver_match.url_name %}

    {% load static %}

    <aside class="sidebar-nav-wrapper">
        <div class="navbar-logo">
            <a href="/">
                <img src="{% static "assets/images/logo/doca-logo-web.png" %}" alt="กรมกิจการพลเรือนทหารบก"
                     class="img-fluid"/>
            </a>
        </div>
        <nav class="sidebar-nav">
            <ul>
                <li class="nav-item nav-item-has-children">
                    <a
                            href="#0"
                            data-bs-toggle="collapse"
                            data-bs-target="#ddmenu_1"
                            aria-controls="ddmenu_1"
                            aria-expanded="true"
                            aria-label="Toggle navigation"
                    >
                        <span class="text">ข้อมูลโดยรวม</span>
                    </a>
                    <ul id="ddmenu_1" class="collapse dropdown-nav show">
                        <li>
                            <a href="/dist-stat" class="{% if url_name == 'dist-stat' %}active{% endif %}">
                                <i class="fa-solid fa-chart-column"></i>สถิติการแจกจ่ายหนังสือ</a>
                            <a href="/send-recv-stat" class="{% if url_name == 'send-recv-stat' %}active{% endif %}">
                                <i class="fa-solid fa-chart-column"></i>สถิติการรับ-ส่งหนังสือ</a>
                        </li>
                    </ul>
                </li>
                <span class="divider"><hr/></span>
                <li class="nav-item nav-item-has-children">
                    <a
                            href="#0"
                            data-bs-toggle="collapse"
                            data-bs-target="#ddmenu_2"
                            aria-controls="ddmenu_2"
                            aria-expanded="true"
                            aria-label="Toggle navigation"
                    >
                        <span class="text">ติดตามหนังสือ</span>
                    </a>
                    <ul id="ddmenu_2" class="collapse dropdown-nav show">
                        <li>
                            <a href="/trace" class="{% if url_name == 'trace' %}active{% endif %}"><i
                                    class="fa-solid fa-clock-rotate-left"></i></i>สถานะหนังสือ</a>
                        </li>
                        <li>
                            <a href="/trace/pending" class="{% if url_name == 'trace_pending' %}active{% endif %}"><i
                                    class="fa-solid fa-circle-exclamation"></i></i>หนังสือรอดำเนินการ</a>
                        </li>
                    </ul>
                </li>

                <span class="divider"><hr/></span>
                <li class="nav-item nav-item-has-children">
                    <a
                            href="#1"
                            data-bs-toggle="collapse"
                            data-bs-target="#ddmenu_3"
                            aria-controls="ddmenu_3"
                            aria-expanded="true"
                            aria-label="Toggle navigation"
                    >
                        <span class="text">ทะเบียนหนังสือรับ-ส่ง</span>
                    </a>
                    <ul id="ddmenu_3"
                        class="collapse dropdown-nav {% if 'receive' in url_name or 'send' in url_name %}show{% endif %}">
                        <li>
                            <a href="/receive" class="{% if url_name == 'receive' %}active{% endif %}"><i
                                    class="fa-regular fa-circle-down"></i>ทะเบียนหนังสือรับ</a>
                        </li>
                        <li>
                            <a href="/receive/credential"
                               class="{% if url_name == 'receive_credential' %}active{% endif %}"><i
                                    class="fa-solid fa-circle-down"></i></i>ทะเบียนหนังสือรับ
                                (ลับ)</a>
                        </li>
                        <li>
                            <a href="/send/unit/{{ user.groups.all.0.id }}" class="{% if url_name == 'send' and request.resolver_match.kwargs.group_id == group.id %}active{% endif %}"><i
                                    class="fa-regular fa-circle-up"></i>ทะเบียนหนังสือส่ง</a>
                        </li>
                        <li>
                            <a href="/send/unit/{{ user.groups.all.0.id }}/credential"
                               class="{% if url_name == 'send_credential' and request.resolver_match.kwargs.group_id == group.id %}}active{% endif %}"><i
                                    class="fa-solid fa-circle-up"></i>ทะเบียนหนังสือส่ง (ลับ)</a>
                        </li>
                        <span class="divider"><hr/></span>
                        {% if parents_groups %}
                            {% for group in parents_groups %}
                                <li>
                                    <a href="/send/unit/{{ group.id }}"
                                       class="{% if url_name == 'send' and request.resolver_match.kwargs.group_id == group.id %}active{% endif %}"><i
                                            class="fa-regular fa-circle-up"></i>ทะเบียนหนังสือส่งออก{{ group.unit.unit_level }}
                                    </a>
                                </li>
                                <li>
                                    <a href="/send/unit/{{ group.id }}/credential"
                                       class="{% if url_name == 'send_credential' and request.resolver_match.kwargs.group_id == group.id  %}active{% endif %}"><i
                                            class="fa-solid fa-circle-up"></i>ทะเบียนหนังสือส่งออก{{ group.unit.unit_level }}
                                        (ลับ)</a>
                                </li>
                                <span class="divider"><hr/></span>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </li>


                <li class="nav-item nav-item-has-children">
                    <a
                            href="#2"
                            data-bs-toggle="collapse"
                            data-bs-target="#ddmenu_4"
                            aria-controls="ddmenu_4"
                            aria-expanded="true"
                            aria-label="Toggle navigation"
                    >
                        <span class="text">ทะเบียนหนังสือคำสั่ง</span>
                    </a>
                    <ul id="ddmenu_4" class="collapse dropdown-nav {% if 'order' in url_name %}show{% endif %}">
                        <li>
                            <a href="/order" class="{% if url_name == 'order' %}active{% endif %}"><i
                                    class="fa-regular fa-file-text"></i>ทะเบียนหนังสือคำสั่ง</a>
                        </li>
                        <li>
                            <a href="/order/specific"
                               class="{% if url_name == 'order_specific' %}active{% endif %}"><i
                                    class="fa-solid fa-file-text"></i>ทะเบียนหนังสือคำสั่งเฉพาะ</a>
                        </li>
                    </ul>
                </li>

                <span class="divider"><hr/></span>

                <li class="nav-item nav-item-has-children">
                    <a
                            href="#2"
                            data-bs-toggle="collapse"
                            data-bs-target="#ddmenu_5"
                            aria-controls="ddmenu_5"
                            aria-expanded="true"
                            aria-label="Toggle navigation"
                    >
                        <span class="text">จัดการผู้ใช้งาน</span>
                    </a>
                    <ul id="ddmenu_5" class="collapse dropdown-nav show">
                        <li>
                            <a href="/accounts/edit" class="{% if url_name == 'account' %}active{% endif %}"><i
                                    class="fa-regular fa-user"></i>ตั้งค่าผู้ใช้</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </aside>
    <div class="overlay"></div>
{% endwith %}
<!-- ======== sidebar-nav end =========== -->
