{% extends 'doc_record/base.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.11.5/datatables.min.css"/>
{% endblock %}




{% block content %}
    <div class="container-fluid">
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h2>{% block page_title %} ทะเบียนหนังสือรับ {% endblock %}</h2>
                </div>
                <!-- end col -->
                <div class="col-md-6">
                    <div class="breadcrumb-wrapper mb-30">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#0">ทะเบียนหนังสือรับ-ส่ง</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    ทะเบียนหนังสือรับ
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- ========== title-wrapper end ========== -->


        <div class="card-style mb-30">

            <form action="" method="get">
                <div class="row">
                    <div class="col-auto">
                        <label for="query_year" class="col-form-label">ปี</label>
                    </div>

                    <div class="col">
                        <select class="form-select" aria-label="ปี" name="year" onchange="submit()">
                            {% for year in query_year reversed %}
                                <option value="{{ year|date:'Y' }}"
                                        {% if request.GET.year == year|date:'Y' %}selected{% endif %}>{{ year|date:'Y'|add:"543" }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-auto">
                        <a type="button" class="btn btn-primary"
                           href="{% if 'credential' in request.path %}credential/add{% else %}add{% endif %}">ลงทะเบียนรับหนังสือ</a>
                    </div>
                </div>
            </form>


            <div class="table-responsive mt-3">
                <table id="datatable" class="table table-sm">
                    <thead>
                    <tr>
                        <th>เลขรับ</th>
                        <th>ที่</th>
                        <th>ลงวันที่</th>
                        <th>จาก</th>
                        <th>ถึง</th>
                        <th>เรื่อง</th>
                        <th>การปฏิบัติ</th>
                        <th>เครื่องมือ</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for data in page_obj %}
                        <tr>
                            <td class="small">{{ data.receive_no }}</td>
                            <td class="small"><a href="{{ data.id }}">{{ data.doc.doc_no }}</a></td>
                            <td class="small">
                                {{ data.doc.doc_date_th }}
                            </td>
                            <td class="small">{{ data.doc.doc_from }}</td>
                            <td class="small">{{ data.doc.doc_to }}</td>
                            <td class="small">{{ data.doc.title }}</td>
                            <td class="small">
                                {% for send_unit in data.send_to.all %}
                                    {{ send_unit.name }}<br>
                                {% endfor %}
                            </td>
                            <td class="text-center">
                                <div class="row">
                                    <div class="col">

                                        <a href="{% if 'credential' in request.path %}credential/{{ data.id }}/edit{% else %}{{ data.id }}/edit{% endif %}" class="btn btn-success m-1"><i
                                                class="fas fa-pencil-alt"></i></a>
                                        <a href="" class="btn btn-danger m-1"><i class="fas fa-trash-alt"></i></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.11.5/datatables.min.js"></script>


    <script>
        $(document).ready(function () {
            $("#datatable").DataTable({
                paging: true,
                ordering: false,
                info: true,
                "pageLength": 50,
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.11.5/i18n/th.json'
                }
            });
        });
    </script>
{% endblock %}


