{% extends 'doc_record/base.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.11.5/datatables.min.css"/>
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h2>{% block page_title %} {{ title }} {% endblock %}</h2>
                </div>
                <!-- end col -->
                <div class="col-md-6">
                    <div class="breadcrumb-wrapper mb-30">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#0">ทะเบียนหนังสือรับ-ส่ง</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    {{ title }}
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- ========== title-wrapper end ========== -->


        <div class="card-style mb-30">

            <form action="" method="get">
                <div class="row">
                    <div class="col-auto">
                        <label for="query_year" class="col-form-label">ปี</label>
                    </div>

                    <div class="col">
                        <select class="form-select" aria-label="ปี" name="year" onchange="submit()">
                            {% for year in query_year reversed %}
                                <option value="{{ year|date:'Y' }}"
                                        {% if request.GET.year == year|date:'Y' %}selected{% endif %}>{{ year|date:'Y'|add:"543" }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-auto">
                        <a type="button" class="btn btn-primary"
                           href="{{ add_path }}">{{ add_button }}</a>
                    </div>
                </div>
            </form>

            {% include "doc_record/components/send_table.html" %}

        </div>
    </div>

{% endblock %}
{% block js %}
    {% include "doc_record/scripts/table_script.html" %}
{% endblock %}


