{% extends 'doc_record/base.html' %} {% block content %}
    <div class="card-style mb-30">
        {% if user.is_authenticated %} Hi {{ user.username }}! {% else %}
            <p>You are not logged in</p>
            <a href="{% url 'login' %}">เข้าสู่ระบบ</a>
        {% endif %}
        <table id="myTable" class="table table-sm">
            <thead>
            <tr>
                <th>เลขรับ</th>
                <th>ที่</th>
                <th>ลงวันที่</th>
                <th>จาก</th>
                <th>ถึง</th>
                <th>เรื่อง</th>
                <th>การปฏิบัติ</th>
            </tr>
            </thead>

            <tbody>
            {% for data in doc_receives %}
                <tr>
                    <td class="small">{{ data.receive_no }}</td>
                    <td class="small">{{ data.doc.doc_no }}</td>
                    <td class="small">{{ data.doc.doc_date }}</td>
                    <td class="small">{{ data.doc.doc_from }}</td>
                    <td class="small">{{ data.doc.doc_to }}</td>
                    <td class="small">{{ data.doc.title }}</td>
                    <td class="small">{{ data.action }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
