{% extends 'doc_record/base.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs5/dt-1.11.5/r-2.2.9/datatables.min.css"/>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h2>{% block page_title %} หนังสือรอดำเนินการ {% endblock %}</h2>
                </div>
                <!-- end col -->
                <div class="col-md-6">
                    <div class="breadcrumb-wrapper mb-30">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/trace">ติดตามหนังสือ</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    <a href="/trace/pending">หนังสือรอดำเนินการ</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    จัดการหนังสือรอดำเนินการ
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- ========== title-wrapper end ========== -->


        <div class="card-style mb-30">
            {% include "doc_record/components/trace_pending_table.html" %}
        </div>
    </div>
{% endblock %}
{% block js %}
    {% include "doc_record/scripts/table_script.html" %}
{% endblock %}


