{% extends 'doc_record/base.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.11.5/datatables.min.css"/>
{% endblock %}




{% block content %}
    <div class="container-fluid">
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h2>{% block page_title %} หนังสือรอดำเนินการ {% endblock %}</h2>
                </div>
                <!-- end col -->
                <div class="col-md-6">
                    <div class="breadcrumb-wrapper mb-30">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/trace">ติดตามหนังสือ</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    <a href="/trace/pending">หนังสือรอดำเนินการ</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    จัดการหนังสือรอดำเนินการ
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- ========== title-wrapper end ========== -->


        <div class="card-style mb-30">

            <div class="table-responsive mt-3">
                <table id="datatable" class="table table-sm">
                    <thead>
                    <tr>

                        <th>ที่</th>
                        <th>ลงวันที่</th>
                        <th>จาก</th>
                        <th>ถึง</th>
                        <th>เรื่อง</th>
                        <th>ส่งมาจาก</th>
                        <th>สถานะเอกสาร</th>

                    </tr>
                    </thead>

                    <tbody>
                    {% for data in page_obj %}
                            <tr>
                                <td class="small"><a href="{{ data.id }}">{{ data.doc.doc_no }}</a></td>
                                <td class="small">
                                    {{ data.doc.doc_date_th }}
                                </td>
                                <td class="small">{{ data.doc.doc_from }}</td>
                                <td class="small">{{ data.doc.doc_to }}</td>
                                <td class="small">{{ data.doc.title }}</td>
                                <td class="small">{{ data.create_by.groups.all.0.name }}</td>
                                <td class="small">{{ data.doc_status.name }}</td>
                            </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.11.5/datatables.min.js"></script>


    <script>
        $(document).ready(function () {
            $("#datatable").DataTable({
                paging: true,
                ordering: false,
                info: true,
                "pageLength": 50,
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.11.5/i18n/th.json'
                }
            });
        });
    </script>
{% endblock %}


