<div class="table-responsive mt-3">
    <table id="datatable" class="table table-sm dt-responsive" style="width:100%">
        <thead>
        <tr>
            <th>ที่</th>
            <th>ลงวันที่</th>
            <th class="min-tablet">จาก</th>
            <th class="min-tablet">ถึง</th>
            <th class="min-tablet">เรื่อง</th>
            <th>สถานะเอกสาร</th>
        </tr>
        </thead>

        <tbody>
        {% for data in page_obj %}
            {% ifchanged data.doc %}
                <tr>
                    <td class="small"><a href="trace/{{ data.id }}">{{ data.doc.doc_no }}</a></td>
                    <td class="small">
                        {{ data.doc.doc_date_th }}
                    </td>
                <td class="small">{% if data.doc.doc_from %}{{ data.doc.doc_from }}{% else %}-{% endif %}</td>
                <td class="small">{% if data.doc.doc_to %}{{ data.doc.doc_to }}{% else %}-{% endif %}</td>
                    <td class="small">{{ data.doc.title }}</td>
                    <td class="small">{{ data.doc_status.name }}</td>
                </tr>
            {% endifchanged %}
        {% endfor %}
        </tbody>
    </table>


</div>

    {% if is_paginated %}

        <div class="row align-items-end">
            <div class="col-3">
        <span class="current">
            แสดง {{ page_obj.number }} จาก {{ page_obj.paginator.num_pages }} หน้า
        </span>
            </div>
            <div class="col-9">
                <ul class="pagination float-end">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link"
                               href="?page={{ page_obj.previous_page_number }}&keyword={{ request.GET.keyword }}">
                                <i  class="fa fa-chevron-left" aria-hidden="true"></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">
                                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                            </span>
                        </li>
                    {% endif %}

                    {% if page_obj.number|add:'-3' > 1 %}
                        <li class="page-item">
                            <a class="page-link"
                               href="?page={{ page_obj.number|add:'-4' }}&keyword={{ request.GET.keyword }}">&hellip;
                            </a>
                        </li>
                    {% endif %}

                    {% for i in page_obj.paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="page-item active">
                                <span class="page-link">{{ i }}
                                    <span class="sr-only">(current)</span>
                                </span>
                            </li>
                        {% elif i > page_obj.number|add:'-4' and i < page_obj.number|add:'4' %}
                            <li>
                                <a class="page-link"
                                   href="?page={{ i }}&keyword={{ request.GET.keyword }}">{{ i }}
                            </a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.paginator.num_pages > page_obj.number|add:'3' %}
                        <li><a class="page-link"
                               href="?page={{ page_obj.number|add:'4' }}&keyword={{ request.GET.keyword }}">&hellip;</a>
                        </li>
                    {% endif %}

                    {% if page_obj.has_next %}
                        <li><a class="page-link"
                               href="?page={{ page_obj.next_page_number }}&keyword={{ request.GET.keyword }}"><i
                                class="fa fa-chevron-right"
                                aria-hidden="true"></i></a></li>
                    {% else %}
                        <li class="disabled"><span class="page-link"><i class="fa fa-chevron-right"
                                                                        aria-hidden="true"></i></span></li>
                    {% endif %}

                </ul>
            </div>
        </div>
    {% endif %}