<!DOCTYPE html>
{% load account %} {% load socialaccount %}
<html lang="th">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    {% load static %}
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <title>เข้าสู่ระบบ - ระบบสารบรรณอิเล็กทรอนิกส์ กร.ทบ.</title>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"
    />
    {% load static %}
    <link
            rel="stylesheet"
            href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'assets/css/lineicons.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}"/>
</head>
<body>
<div class="container">
    <div class="row g-0 auth-row mt-30">
        <div class="col-lg-6">
            <div class="auth-cover-wrapper bg-primary-100">
                <div class="auth-cover">
                    <div class="title text-center">
                        <h1 class="text-primary mb-10">ระบบสารบรรณอิเล็กทรอนิกส์</h1>
                        <p class="text-medium">สำหรับกรมกิจการพลเรือนทหารบก</p>
                    </div>
                    <div class="cover-image">
                        <img
                                src="{% static 'assets/images/auth/signin-image.svg' %}"
                                alt=""
                        />
                    </div>
                    <div class="shape-image">
                        <img src="{% static 'assets/images/auth/shape.svg' %}" alt=""/>
                    </div>
                </div>
            </div>
        </div>
        <!-- end col -->
        <div class="col-lg-6">
            <div class="signin-wrapper">
                <div class="form-wrapper">

                    <h6 class="mb-15">ตั้งค่ารหัสผ่านใหม่</h6>
                    <p class="text-sm mb-25">ระบบได้ส่งอีเมล์ตั้งค่ารหัสผ่านใหม่เรียบร้อยแล้ว กรุณาตรวจสอบอีเมล์ของท่าน ในกรณีที่ไม่พบให้ดูในโฟลเดอร์อีเมล์ขยะ หรือติดต่อเจ้าหน้าที่หากไม่ได้อีเมล์ดังกล่าว</p>
                    <div class="input-group">
                        <div class="col-12 d-flex justify-content-center flex-wrap">
                            <a href="/accounts/login/" class="btn btn-primary w-100">กลับไปหน้าแรก</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
</div>

<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
